<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Orçamento para Deleção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Buscar Orçamento para Deleção</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('orcamento.buscar_orcamento_para_deletar') }}" method="post">
            <label for="orcamento_id">ID do Orçamento:</label>
            <input type="text" name="orcamento_id" id="orcamento_id" required>
            <button type="submit">Buscar Orçamento</button>
        </form>
        <a href="{{ url_for('orcamento.menu_orcamento') }}">Voltar ao Menu de Orçamento</a>
    </div>
</body>
</html>
