<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Agendamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="list-container">
        <h1>Agendas</h1>
        {% if agendamentos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data do Agendamento</th>
                    <th>Observações</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendamentos %}
                <tr>
                    <td>{{ agenda.id }}</td>
                    <td>{{ agenda.data_agendamento }}</td>
                    <td>{{ agenda.obs_agendamento }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma agenda encontrada.</p>
        {% endif %}
         <a href="{{ url_for('agenda.menu_agenda') }}">Voltar ao Menu de Agenda</a>
    </div>
</body>
</html>
